<h1>Forum Task 2 - Notebook by Alexander L. Myfia</h1>

Write a program that creates a tuple for the following course numbers: 
<ol>
<li>COP 2510</li>
<li>EGN 3000L</li>
<li>MAC 2281</li>
<li>MUH 3016</li>
<li>PHY 2048</li>
</ol>

In [1]:
course_numbers = ('COP 2510', 'EGN 3000L', 'MAC 2281', 'MUH 3016', 'PHY 2048')

Use the tuple as keys for the following dictionaries:
<ol>
    <li>
        The first dictionary should have the following key value pairs
        <table style='margin:20px'>
            <tr>
                <th>Course Numbers</th>
                <th>Course Name</th>
            </tr>
            <tr>
                <td>COP 2510</td>
                <td>Programming Concepts</td>
            </tr>
            <tr>
                <td>EGN 3000L</td>
                <td>Foundations of Engineering Lab</td>
            </tr>
            <tr>
                <td>MAC 2281</td>
                <td>Calculus I</td>
            </tr>
            <tr>
                <td>MUH 3016</td>
                <td>Survey of Jazz</td>
            </tr>
            <tr>
                <td>PHY 2048</td>
                <td>General Physics I</td>
            </tr>
        </table>
    </li>
    <li>
        The second dictionary should have the following key value pairs
        <table style='margin:20px'>
            <tr>
                <th>Course Numbers</th>
                <th>Instructor</th>
            </tr>
            <tr>
                <td>COP 2510</td>
                <td>Z. Beasley</td>
            </tr>
            <tr>
                <td>EGN 3000L</td>
                <td>J. Anderson</td>
            </tr>
            <tr>
                <td>MAC 2281</td>
                <td>A. Makaryus</td>
            </tr>
            <tr>
                <td>MUH 3016</td>
                <td>A. Wilkins</td>
            </tr>
            <tr>
                <td>PHY 2048</td>
                <td>G. Pradhan</td>
            </tr>
        </table>
    </li>
    <li>
        The third dictionary should have the following key value pairs
        <table style='margin:20px'>
            <tr>
                <th>Course Numbers</th>
                <th>Class Times</th>
            </tr>
            <tr>
                <td>COP 2510</td>
                <td>MW 12:30pm – 1:45pm</td>
            </tr>
            <tr>
                <td>EGN 3000L</td>
                <td>TR 11:00am – 12:15pm</td>
            </tr>
            <tr>
                <td>MAC 2281</td>
                <td>MW 9:30am – 10:45am</td>
            </tr>
            <tr>
                <td>MUH 3016</td>
                <td>Online Asynchronous</td>
            </tr>
            <tr>
                <td>PHY 2048</td>
                <td>TR 5:00pm – 6:15pm</td>
            </tr>
        </table>
    </li>
</ol>

In [ ]:
course_names        = ['Programming Concepts', 'Foundations of Engineering Lab', 'Calculus I', 'Survey of Jazz', 'General Physics I']
instructor_names    = ['Z. Beasley', 'J. Anderson', 'A. Makaryus', 'A. Wilkins', 'G. Pradhan']
class_times         = ['MW 12:30pm – 1:45pm', 'TR 11:00am – 12:15pm', 'MW 9:30am – 10:45am', 'Online Asynchronous', 'TR 5:00pm – 6:15pm']

course_database = {}
instructor_database = {}
schedule_database = {}

for x in range(len(course_numbers)):
    course_database[course_numbers[x]] = course_names[x]
    instructor_database[course_numbers[x]] = instructor_names[x]
    schedule_database[course_numbers[x]] = class_times[x]

The program should let the user enter a course number and, if the course is in the dictionary, it should display all of the course information.<br>
Otherwise, the program should display a message indicating that the course can’t be found.

In [ ]:
input_course = input('Please input your course number: ')
if input_course in course_numbers:
    print(f'Course {input_course}')
    print('--------------------')
    print(f'Course Name\t: {course_database[input_course]}\nInstructor\t: {instructor_database[input_course]}\nClass Time\t: {schedule_database[input_course]}\n')
else:
    print('Error: course not found')